Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@seo0tak 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


1
00seo0tak/board2
 Code Issues 0 Pull requests 0 Projects 0 Wiki Security Insights Settings
board2/.gitignore
@seo0tak seo0tak ignore and pom.xml
10bdf2d yesterday
We found potential security vulnerabilities in your dependencies.
Only the owner of this repository can see this message.

72 lines (56 sloc)  830 Bytes
  
# Directories #
/build/
/bin/
target/
   
# OS Files #
.DS_Store
   
*.class
   
# Package Files #
*.jar
*.war
*.ear
*.db
   
######################
# Windows
######################
   
# Windows image file caches
Thumbs.db
   
# Folder config file
Desktop.ini
   
######################
# OSX
######################
   
.DS_Store
.svn
   
# Thumbnails
._*
   
# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Eclipse
######################

.springBeans
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
   
# Locally stored "Eclipse launch configurations"
*.launch
   
# CDT-specific
.cproject
   
# PDT-specific
.buildpath
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
